RewriteEngine on

RewriteRule ^trang-chu$ index.php 
RewriteRule ^chitiet$ product.php
RewriteRule ^gio-hang$ cart.php
RewriteRule ^thanh-toan$ checkOut.php 

RewriteRule ^([a-zA-Z0-9_-]+)$ typeProduct.php?url=$1
RewriteRule ^([a-zA-Z0-9-]+)/([0-9]+)$ typeProduct.php?url=$1&page=$2



